.connect__metamask--wrapper {
    gap: 17px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .connect__metamask--wrapper[data-connector-length="2"] button[data-connector-uid="metaMask"] {
  
  display: none;
    
  }
  .account__balance--column {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  
  }