.recent-activities .card-header {
  position: relative;

}
.recent-activities .card-title {
  position: absolute;
  left: 50%;
  top: 50%;
  width: max-content;
  transform: translate(-50%, -50%);
  color: #eceeef;
}
.recent-activities .card-body{
  min-height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
